<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CapStone_AndreaGuarnieri</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CapStone_AndreaGuarnieri.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="sidebar">
        <h2 class="text-center">Waldorf-Astoria Hotel</h2>
        <nav>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Prenotazione" asp-action="AddClientePrenotazione">Prenotazione</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Prenotazione" asp-action="Index">Lista Prenotazioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Prenotazione" asp-action="Search">Cerca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Utente" asp-action="GestisciUtenti">Gestione Utenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="StoricoPresenze" asp-action="Storico">Storico Presenze</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Tariffe" asp-action="Index">Gestione Tariffe</a>
                </li>

            </ul>
            </ul>

            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    </li>
                </ul>
            }
        </nav>
    </div>

    <div class="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<!--
    <footer class="footer border-top text-muted">
        <div class="container">
            &copy; 2024 - CapStone_AndreaGuarnieri - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
     -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
